In [135]:
import sys
assert sys.version_info >= (3, 5)
# Python â‰¥3.5 is required
import sklearn
assert sklearn.__version__ >= "0.20"
import numpy as np
import os
import tarfile
import urllib
import pandas as pd
import urllib.request
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve
from sklearn import preprocessing
from sklearn import metrics
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import json
from pathlib import Path

In [164]:
data = pd.read_csv("02-19-2023.csv")

In [165]:
geoJSONDict = {

  "type": "FeatureCollection",
  "crs": {
    "type": "name",
    "properties": {
      "name": "urn:ogc:def:crs:OGC:1.3:CRS84"
    }
  },
  "features": []
}

In [166]:
# incident rate = (Cases/population)*100,000
# population = (Cases*100,000)/incident rate
data["Population"] = (data["Confirmed"] * 100000)/data["Incident_Rate"]
data["Case_Fatality_Ratio"] = (data["Case_Fatality_Ratio"]*100).round()
data = data.sort_values(by='Case_Fatality_Ratio', ascending=False)
data.head(50)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Population
1386,90017.0,Unassigned,Illinois,US,2023-02-20 04:21:05,NaN,NaN,65,5038,NaN,NaN,"Unassigned, Illinois, US",NaN,775077.0,NaN
2936,90040.0,Unassigned,Oklahoma,US,2023-02-20 04:21:05,NaN,NaN,152,2173,NaN,NaN,"Unassigned, Oklahoma, US",NaN,142961.0,NaN
367,NaN,NaN,NaN,"Korea, North",2023-02-20 04:21:05,40.339900,127.510100,1,6,NaN,NaN,"Korea, North",0.003879,60000.0,25778815.0
1075,90012.0,Unassigned,Florida,US,2023-02-20 04:21:05,NaN,NaN,3289,2124,NaN,NaN,"Unassigned, Florida, US",NaN,6458.0,NaN
33,NaN,NaN,Unknown,Belgium,2023-02-20 04:21:05,NaN,NaN,63090,33663,NaN,NaN,"Unknown, Belgium",NaN,5336.0,NaN
2108,90027.0,Unassigned,Minnesota,US,2023-02-20 04:21:05,NaN,NaN,902,417,NaN,NaN,"Unassigned, Minnesota, US",NaN,4623.0,NaN
381,NaN,NaN,NaN,MS Zaandam,2023-02-20 04:21:05,NaN,NaN,9,2,NaN,NaN,MS Zaandam,NaN,2222.0,NaN
3119,72999.0,Unassigned,Puerto Rico,US,2023-02-20 04:21:05,NaN,NaN,26318,5771,NaN,NaN,"Unassigned, Puerto Rico, US",NaN,2193.0,NaN
4013,NaN,NaN,NaN,Yemen,2023-02-20 04:21:05,15.552727,48.516388,11945,2159,NaN,NaN,Yemen,40.048994,1807.0,29825968.0
994,90008.0,Unassigned,Colorado,US,2023-02-20 04:21:05,NaN,NaN,256,23,NaN,NaN,"Unassigned, Colorado, US",NaN,898.0,NaN
422,NaN,NaN,Michoacan,Mexico,2023-02-20 04:21:05,19.566500,-101.706800,114366,9026,NaN,NaN,"Michoacan, Mexico",2370.082818,789.0,4825401.0
641,NaN,NaN,NaN,Sudan,2023-02-20 04:21:05,12.862800,30.217600,63775,5011,NaN,NaN,Sudan,145.441421,786.0,43849269.0
427,NaN,NaN,Puebla,Mexico,2023-02-20 04:21:05,19.041400,-98.206300,218997,16731,NaN,NaN,"Puebla, Mexico",3315.900141,764.0,6604451.0
437,NaN,NaN,Veracruz,Mexico,2023-02-20 04:21:05,19.173800,-96.134200,234451,17141,NaN,NaN,"Veracruz, Mexico",2745.372232,731.0,8539862.0
500,NaN,NaN,Lambayeque,Peru,2023-02-20 04:21:05,-6.353049,-79.824113,129869,9486,NaN,NaN,"Lambayeque, Peru",9907.613671,730.0,1310800.0
506,NaN,NaN,Piura,Peru,2023-02-20 04:21:05,-5.133361,-80.335861,181306,13223,NaN,NaN,"Piura, Peru",8852.832031,729.0,2048000.0
511,NaN,NaN,Ucayali,Peru,2023-02-20 04:21:05,-9.621718,-73.444929,45824,3299,NaN,NaN,"Ucayali, Peru",7778.645391,720.0,589100.0
408,NaN,NaN,Baja California,Mexico,2023-02-20 04:21:05,30.840600,-115.283800,173897,12498,NaN,NaN,"Baja California, Mexico",4784.135215,719.0,3634868.0
2483,32029.0,Storey,Nevada,US,2023-02-20 04:21:05,39.448755,-119.525021,196,14,NaN,NaN,"Storey, Nevada, US",4753.820034,714.0,4123.0
497,NaN,NaN,Ica,Peru,2023-02-20 04:21:05,-14.235097,-75.574821,130173,9109,NaN,NaN,"Ica, Peru",13348.338802,700.0,975200.0
502,NaN,NaN,Loreto,Peru,2023-02-20 04:21:05,-4.124847,-74.424115,64704,4474,NaN,NaN,"Loreto, Peru",6296.613468,691.0,1027600.0
419,NaN,NaN,Hidalgo,Mexico,2023-02-20 04:21:05,20.091100,-98.762400,126034,8624,NaN,NaN,"Hidalgo, Mexico",4083.509212,684.0,3086414.0
420,NaN,NaN,Jalisco,Mexico,2023-02-20 04:21:05,20.659500,-103.349400,294676,20125,NaN,NaN,"Jalisco, Mexico",3504.004248,683.0,8409693.0
512,NaN,NaN,Unknown,Peru,2023-02-20 04:21:05,NaN,NaN,2069,137,NaN,NaN,"Unknown, Peru",NaN,662.0,NaN
421,NaN,NaN,Mexico,Mexico,2023-02-20 04:21:05,19.496900,-99.723300,736554,48195,NaN,NaN,"Mexico, Mexico",4226.319000,654.0,17427790.0
493,NaN,NaN,Callao,Peru,2023-02-20 04:21:05,-11.954609,-77.136042,170360,10879,NaN,NaN,"Callao, Peru",15077.440481,639.0,1129900.0
125,NaN,NaN,Hubei,China,2023-02-20 04:21:05,30.975600,112.270700,72131,4515,NaN,NaN,"Hubei, China",121.904681,626.0,59170000.0
507,NaN,NaN,Puno,Peru,2023-02-20 04:21:05,-14.995827,-69.922726,78204,4843,NaN,NaN,"Puno, Peru",6316.962843,619.0,1238000.0
3546,48403.0,Sabine,Texas,US,2023-02-20 04:21:05,31.343188,-93.854405,1529,94,NaN,NaN,"Sabine, Texas, US",14503.889205,615.0,10542.0
499,NaN,NaN,La Libertad,Peru,2023-02-20 04:21:05,-7.921390,-78.370238,181771,11021,NaN,NaN,"La Libertad, Peru",9012.842126,606.0,2016800.0
412,NaN,NaN,Chihuahua,Mexico,2023-02-20 04:21:05,28.633000,-106.069100,172195,10226,NaN,NaN,"Chihuahua, Mexico",4529.674835,594.0,3801487.0
418,NaN,NaN,Guerrero,Mexico,2023-02-20 04:21:05,17.439200,-99.545100,118734,6877,NaN,NaN,"Guerrero, Mexico",3246.717024,579.0,3657048.0
423,NaN,NaN,Morelos,Mexico,2023-02-20 04:21:05,18.681300,-99.101300,98768,5458,NaN,NaN,"Morelos, Mexico",4831.956823,553.0,2044058.0
666,NaN,NaN,NaN,Syria,2023-02-20 04:21:05,34.802075,38.996815,57461,3164,NaN,NaN,Syria,328.336245,551.0,17500657.0
431,NaN,NaN,Sinaloa,Mexico,2023-02-20 04:21:05,25.172100,-107.479500,181447,9965,NaN,NaN,"Sinaloa, Mexico",5748.043669,549.0,3156674.0
142,NaN,NaN,Unknown,China,2023-02-20 04:21:05,NaN,NaN,1521816,82195,NaN,NaN,"Unknown, China",NaN,540.0,NaN
2412,31075.0,Grant,Nebraska,US,2023-02-20 04:21:05,41.915286,-101.740701,113,6,NaN,NaN,"Grant, Nebraska, US",18138.041734,531.0,623.0
2379,31009.0,Blaine,Nebraska,US,2023-02-20 04:21:05,41.913117,-99.976778,76,4,NaN,NaN,"Blaine, Nebraska, US",16344.086022,526.0,465.0
435,NaN,NaN,Tlaxcala,Mexico,2023-02-20 04:21:05,19.313900,-98.240400,59617,3136,NaN,NaN,"Tlaxcala, Mexico",4320.038029,526.0,1380011.0
410,NaN,NaN,Campeche,Mexico,2023-02-20 04:21:05,19.830100,-90.534900,44221,2298,NaN,NaN,"Campeche, Mexico",4419.373247,520.0,1000617.0
510,NaN,NaN,Tumbes,Peru,2023-02-20 04:21:05,-3.857496,-80.545255,33850,1751,NaN,NaN,"Tumbes, Peru",13459.244533,517.0,251500.0
432,NaN,NaN,Sonora,Mexico,2023-02-20 04:21:05,29.297200,-110.330900,200743,10347,NaN,NaN,"Sonora, Mexico",6528.769052,515.0,3074745.0
617,NaN,NaN,NaN,Somalia,2023-02-20 04:21:05,5.152149,46.199616,27324,1361,NaN,NaN,Somalia,171.922378,498.0,15893219.0
438,NaN,NaN,Yucatan,Mexico,2023-02-20 04:21:05,20.709900,-89.094300,142743,7005,NaN,NaN,"Yucatan, Mexico",6318.583789,491.0,2259098.0
496,NaN,NaN,Huanuco,Peru,2023-02-20 04:21:05,-9.421676,-76.040642,60653,2975,NaN,NaN,"Huanuco, Peru",7977.508878,490.0,760300.0
498,NaN,NaN,Junin,Peru,2023-02-20 04:21:05,-11.541783,-74.876968,155204,7611,NaN,NaN,"Junin, Peru",11399.485861,490.0,1361500.0
414,NaN,NaN,Coahuila,Mexico,2023-02-20 04:21:05,27.058700,-101.706800,185977,9027,NaN,NaN,"Coahuila, Mexico",5777.980067,485.0,3218720.0
3506,48311.0,McMullen,Texas,US,2023-02-20 04:21:05,28.352517,-98.567692,186,9,NaN,NaN,"McMullen, Texas, US",25033.647376,484.0,743.0
197,NaN,NaN,NaN,Egypt,2023-02-20 04:21:05,26.820553,30.802498,515698,24809,NaN,NaN,Egypt,503.934146,481.0,102334403.0
439,NaN,NaN,Zacatecas,Mexico,2023-02-20 04:21:05,22.770900,-102.583200,83027,3987,NaN,NaN,"Zacatecas, Mexico",4982.339450,480.0,1666426.0

In [167]:
data = data.drop([1386,2936,367])
data

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Population
1075,90012.0,Unassigned,Florida,US,2023-02-20 04:21:05,NaN,NaN,3289,2124,NaN,NaN,"Unassigned, Florida, US",NaN,6458.0,NaN
33,NaN,NaN,Unknown,Belgium,2023-02-20 04:21:05,NaN,NaN,63090,33663,NaN,NaN,"Unknown, Belgium",NaN,5336.0,NaN
2108,90027.0,Unassigned,Minnesota,US,2023-02-20 04:21:05,NaN,NaN,902,417,NaN,NaN,"Unassigned, Minnesota, US",NaN,4623.0,NaN
381,NaN,NaN,NaN,MS Zaandam,2023-02-20 04:21:05,NaN,NaN,9,2,NaN,NaN,MS Zaandam,NaN,2222.0,NaN
3119,72999.0,Unassigned,Puerto Rico,US,2023-02-20 04:21:05,NaN,NaN,26318,5771,NaN,NaN,"Unassigned, Puerto Rico, US",NaN,2193.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3852,90054.0,Unassigned,West Virginia,US,2021-07-31 23:21:38,NaN,NaN,0,0,NaN,NaN,"Unassigned, West Virginia, US",NaN,NaN,NaN
3922,90055.0,Unassigned,Wisconsin,US,2023-02-20 04:21:05,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wisconsin, US",NaN,NaN,NaN
3954,90056.0,Unassigned,Wyoming,US,2023-01-08 23:21:00,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wyoming, US",NaN,NaN,NaN
3991,NaN,NaN,Channel Islands,United Kingdom,2023-02-20 04:21:05,49.3723,-2.3644,0,0,NaN,NaN,"Channel Islands, United Kingdom",0.0,NaN,NaN
4004,NaN,NaN,Unknown,United Kingdom,2023-02-20 04:21:05,NaN,NaN,0,336,NaN,NaN,"Unknown, United Kingdom",NaN,NaN,NaN

In [168]:
us_data = data.loc[data['Country_Region']=='US']
data = data[data['Country_Region']!='US']
data

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Population
33,NaN,NaN,Unknown,Belgium,2023-02-20 04:21:05,NaN,NaN,63090,33663,NaN,NaN,"Unknown, Belgium",NaN,5336.0,NaN
381,NaN,NaN,NaN,MS Zaandam,2023-02-20 04:21:05,NaN,NaN,9,2,NaN,NaN,MS Zaandam,NaN,2222.0,NaN
4013,NaN,NaN,NaN,Yemen,2023-02-20 04:21:05,15.552727,48.516388,11945,2159,NaN,NaN,Yemen,40.048994,1807.0,29825968.0
422,NaN,NaN,Michoacan,Mexico,2023-02-20 04:21:05,19.566500,-101.706800,114366,9026,NaN,NaN,"Michoacan, Mexico",2370.082818,789.0,4825401.0
641,NaN,NaN,NaN,Sudan,2023-02-20 04:21:05,12.862800,30.217600,63775,5011,NaN,NaN,Sudan,145.441421,786.0,43849269.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,NaN,NaN,Unknown,Mexico,2023-02-20 04:21:05,NaN,NaN,0,0,NaN,NaN,"Unknown, Mexico",NaN,NaN,NaN
463,NaN,NaN,Unknown,Netherlands,2023-02-20 04:21:05,NaN,NaN,0,2,NaN,NaN,"Unknown, Netherlands",NaN,NaN,NaN
639,NaN,NaN,Unknown,Spain,2023-02-20 04:21:05,NaN,NaN,0,0,NaN,NaN,"Unknown, Spain",NaN,NaN,NaN
3991,NaN,NaN,Channel Islands,United Kingdom,2023-02-20 04:21:05,49.372300,-2.364400,0,0,NaN,NaN,"Channel Islands, United Kingdom",0.000000,NaN,NaN
4004,NaN,NaN,Unknown,United Kingdom,2023-02-20 04:21:05,NaN,NaN,0,336,NaN,NaN,"Unknown, United Kingdom",NaN,NaN,NaN

In [160]:
us_data

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Population
1075,90012.0,Unassigned,Florida,US,2023-02-20 04:21:05,NaN,NaN,3289,2124,NaN,NaN,"Unassigned, Florida, US",NaN,6458.0,NaN
2108,90027.0,Unassigned,Minnesota,US,2023-02-20 04:21:05,NaN,NaN,902,417,NaN,NaN,"Unassigned, Minnesota, US",NaN,4623.0,NaN
3119,72999.0,Unassigned,Puerto Rico,US,2023-02-20 04:21:05,NaN,NaN,26318,5771,NaN,NaN,"Unassigned, Puerto Rico, US",NaN,2193.0,NaN
994,90008.0,Unassigned,Colorado,US,2023-02-20 04:21:05,NaN,NaN,256,23,NaN,NaN,"Unassigned, Colorado, US",NaN,898.0,NaN
2483,32029.0,Storey,Nevada,US,2023-02-20 04:21:05,39.448755,-119.525021,196,14,NaN,NaN,"Storey, Nevada, US",4753.820034,714.0,4123.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3243,90046.0,Unassigned,South Dakota,US,2023-02-20 04:21:05,NaN,NaN,0,0,NaN,NaN,"Unassigned, South Dakota, US",NaN,NaN,NaN
3753,90051.0,Unassigned,Virginia,US,2020-12-21 13:27:30,NaN,NaN,0,0,NaN,NaN,"Unassigned, Virginia, US",NaN,NaN,NaN
3852,90054.0,Unassigned,West Virginia,US,2021-07-31 23:21:38,NaN,NaN,0,0,NaN,NaN,"Unassigned, West Virginia, US",NaN,NaN,NaN
3922,90055.0,Unassigned,Wisconsin,US,2023-02-20 04:21:05,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wisconsin, US",NaN,NaN,NaN
3954,90056.0,Unassigned,Wyoming,US,2023-01-08 23:21:00,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wyoming, US",NaN,NaN,NaN

In [169]:
#data struct to store states
# for every state in us_data: 
# get average of Case_Fatality_Ratio, median of lat and long, country
# insert row into data

states =  us_data.Province_State.values.tolist()
states = list(dict.fromkeys(states))

for state in states:
    tempDf = us_data.loc[us_data['Province_State']==state]
    stateDf = tempDf.groupby('Province_State', as_index=False).Case_Fatality_Ratio.max()
    lat = tempDf.groupby('Province_State', as_index=False).Lat.median().iloc[0]['Lat']
    long = tempDf.groupby('Province_State', as_index=False).Long_.median().iloc[0]['Long_']
    country = "US"
    stateDf["Lat"] = lat
    stateDf["Long_"] = long
    stateDf["Country_Region"] = country
    stateDf
    data = data.append(stateDf, ignore_index=True)

C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)

C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\1243832962.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)

In [171]:
sampleDf = data.loc[data['Province_State']=='Florida']
data

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Population
0,NaN,NaN,Unknown,Belgium,2023-02-20 04:21:05,NaN,NaN,63090.0,33663.0,NaN,NaN,"Unknown, Belgium",NaN,5336.0,NaN
1,NaN,NaN,NaN,MS Zaandam,2023-02-20 04:21:05,NaN,NaN,9.0,2.0,NaN,NaN,MS Zaandam,NaN,2222.0,NaN
2,NaN,NaN,NaN,Yemen,2023-02-20 04:21:05,15.552727,48.516388,11945.0,2159.0,NaN,NaN,Yemen,40.048994,1807.0,29825968.0
3,NaN,NaN,Michoacan,Mexico,2023-02-20 04:21:05,19.566500,-101.706800,114366.0,9026.0,NaN,NaN,"Michoacan, Mexico",2370.082818,789.0,4825401.0
4,NaN,NaN,NaN,Sudan,2023-02-20 04:21:05,12.862800,30.217600,63775.0,5011.0,NaN,NaN,Sudan,145.441421,786.0,43849269.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790,NaN,NaN,Virgin Islands,US,NaN,18.335800,-64.896300,NaN,NaN,NaN,NaN,NaN,NaN,53.0,NaN
791,NaN,NaN,American Samoa,US,NaN,-14.271000,-170.132000,NaN,NaN,NaN,NaN,NaN,NaN,41.0,NaN
792,NaN,NaN,Northern Mariana Islands,US,NaN,15.097900,145.673900,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN
793,NaN,NaN,Diamond Princess,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
794,NaN,NaN,Recovered,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [174]:
clean_data = data.drop(['FIPS', 'Admin2','Province_State','Country_Region','Last_Update','Deaths','Recovered','Active','Combined_Key','Incident_Rate','Confirmed','Population'], axis=1)
clean_data = clean_data.dropna()
clean_data.loc[~(clean_data==0.0).all(axis=1)]

           Lat       Long_  Confirmed   Deaths  Case_Fatality_Ratio
2    15.552727   48.516388    11945.0   2159.0               1807.0
3    19.566500 -101.706800   114366.0   9026.0                789.0
4    12.862800   30.217600    63775.0   5011.0                786.0
5    19.041400  -98.206300   218997.0  16731.0                764.0
6    19.173800  -96.134200   234451.0  17141.0                731.0
..         ...         ...        ...      ...                  ...
721  50.973900    5.342000   348771.0      0.0                  0.0
722  -7.109500  177.649300     2805.0      0.0                  0.0
723  35.745200   95.995600      782.0      0.0                  0.0
724  37.269200  106.165500     1276.0      0.0                  0.0
725  31.692700   88.092400     1647.0      0.0                  0.0

[715 rows x 5 columns]

In [163]:
clean_data = clean_data.sort_values(by='Case_Fatality_Ratio', ascending=False)
clean_data.head(50)

Empty DataFrame
Columns: [Lat, Long_, Confirmed, Deaths, Recovered, Case_Fatality_Ratio]
Index: []

In [151]:
#The mistake made here is Im rendering EACH AND EVERY covid case 
#Instead of that, create an object with long, lat and total case count.
#Hence we should only have approx 4000 json objects instead of 600 million+
#TODO: Figure out how mapbox is gonna render it



for i in range(len(clean_data)):
    
    longitude = clean_data.iloc[i]['Long_']
    latitude = clean_data.iloc[i]['Lat']
    data_points = int(clean_data.iloc[i]['Case_Fatality_Ratio'])
    
    
    for x in range(data_points):
        geometry = {
        "geometry": {
          "coordinates": [
            longitude,
            latitude
          ]
        }
      }
        geoJSONDict["features"].append(geometry)
    

json_object = json.dumps(geoJSONDict, separators=(',', ":"))
with open("../server/case_fatality_ratio.json", "w") as outfile:
    outfile.write(json_object)

In [ ]:
csv_total